client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.example.org/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.example.org/" schemaLocation="http://localhost:2006/?xsd=1"/>
</xsd:schema>
</types>
<message name="conersionEuroToFh">
<part name="parameters" element="tns:conersionEuroToFh"/>
</message>
<message name="conersionEuroToFhResponse">
<part name="parameters" element="tns:conersionEuroToFhResponse"/>
</message>
<message name="getCOmpte">
<part name="parameters" element="tns:getCOmpte"/>
</message>
<message name="getCOmpteResponse">
<part name="parameters" element="tns:getCOmpteResponse"/>
</message>
<message name="compteList">
<part name="parameters" element="tns:compteList"/>
</message>
<message name="compteListResponse">
<part name="parameters" element="tns:compteListResponse"/>
</message>
<portType name="BanqueService">
<operation name="conersionEuroToFh">
<input wsam:Action="http://ws.example.org/BanqueService/conersionEuroToFhRequest" message="tns:conersionEuroToFh"/>
<output wsam:Action="http://ws.example.org/BanqueService/conersionEuroToFhResponse" message="tns:conersionEuroToFhResponse"/>
</operation>
<operation name="getCOmpte">
<input wsam:Action="http://ws.example.org/BanqueService/getCOmpteRequest" message="tns:getCOmpte"/>
<output wsam:Action="http://ws.example.org/BanqueService/getCOmpteResponse" message="tns:getCOmpteResponse"/>
</operation>
<operation name="compteList">
<input wsam:Action="http://ws.example.org/BanqueService/compteListRequest" message="tns:compteList"/>
<output wsam:Action="http://ws.example.org/BanqueService/compteListResponse" message="tns:compteListResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conersionEuroToFh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCOmpte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compteList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:2006/"/>
</port>
</service>
</definitions>